//   Created by Steven on 2014-05-18.
.row
    .col-lg-12
        h2 Welcome to SaberZA Blog!
        p Answer the sections that closely match the respective audio.
        p Enter your name at the end before you submit.
    .row
        .col-lg-7
            div(ng-repeat="place in trivia.places")
                audio(controls, preload="none", src="{{place.serverFile") br
                label Answer{{place.id}}:
                    input(type="text", ng-model="place.answer")
                hr
        #headerImg.col-lg-5
            img(src="media/wowTavern.jpg")
