//   Created by Steven on 2014-05-18.
doctype html
html
    head
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/app.css")
        link(rel="stylesheet", href="css/darkstrap.min.css")
    body(ng-app='app')
        .navbar-inner(role="navigation")
            .container
                .navbar-header
                    a.navbar-brand(href="http://saberza.blogdns.com:1337") WoW Trivia
                ul.nav.navbar-nav
                    li
                        a(href="/submissions") WoW Submissions
                    li
                        a(href='/dotaMatches') Dota Matches
        block main-content

    include scripts
    block controllerScript