//   Created by Steven on 2014-05-18.
//   Created by Steven on 2014-05-17.
doctype html
html
    head
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/app.css")
        link(rel="stylesheet", href="css/darkstrap.min.css")
    body(ng-app='app')
        .container
            .navbar-inner(role="navigation")
                .container-fluid
                    .navbar-header
                        .navbar-brand WoW Trivia
                    ul.nav.navbar-nav
                        li
                            a Link1
                        li
                            a Link2
            block main-content

        include scripts




