//   Created by Steven on 2014-05-18.

//   Created by Steven on 2014-05-17.
doctype html
html(ng-app="triviaApp")
    head(lang="en")
        meta(charset="UTF-8")
        title Trivia App
        link(rel="stylesheet", href="styles/bootstrap.min.css")
        link(rel="stylesheet", href="styles/app.css")
    body
        .container
            .navbar.navbar-default(role="navigation")
                .container-fluid
                    .navbar-header
                        .navbar-brand WoW Trivia
                    ul.nav.navbar-nav
                        li
                            a Link1
                        li
                            a Link2
            block main-content

        include scripts
