//   Created by Steven on 2014-05-18.

script(src="/lib/jquery-2.1.1.min.js")
script(src="/lib/angular/angular.min.js")
script(src="/lib/angular/angular-resource.min.js")
script(src="/lib/angular/angular-route.min.js")
script(src="/lib/angular-sanitize/angular-sanitize.min.js")
script(src="/lib/bootstrap.min.js")
script(src="/lib/underscore.js")
script(src="/lib/spin.min.js")
script(src="/app/app.js")