script(src="/lib/jquery-2.1.1.min.js")
script(src="/lib/angular/angular.min.js")
script(src="/lib/angular/angular-resource.min.js")
script(src="/lib/angular/angular-route.min.js")
script(src="/lib/angular-sanitize/angular-sanitize.min.js")
script(src="/lib/bootstrap.min.js")
script(src="/lib/underscore.js")
script(src="/lib/spin.min.js")
script(src="/app/app.js")
script(src="/app/controllers/appController.js")
script(src="/app/controllers/submissionsController.js")
script(src="/app/controllers/matchesController.js")